//this whole would be an include from acc.jade
#dtmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="dtmodallabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4#dtmodallabel.modal-title.text-primary
          strong
            | Add Details
      .modal-body
        include accmoddt.jade
      .modal-footer
        #btnclose.button.btn.btn-default(data-dismiss="modal") Close
