.panel.with-nav-tabs.panel-defd
  .panel-heading.clearfix
    .pull-left
      h6.panel-title.top10
        strong.text-muted
          | &nbsp&nbsp&nbsp
    .pull-right
      ul.nav.nav-tabs
        li.active
          a
            small
              strong ACCOUNTS & COLLECTIONS
  .panel-body
    .row
      .col-md-12
        include addrec.jade
  .panel-footer
    .row
      .col-md-12
        div(ng-if="acc.dbg")
          p
