table.table.table-condensed.table-striped(style='margin-top=20px')
  thead
    tr
      th.text-muted
        small NO AHLI
      th.text-muted
        small TARIKH DAFTAR
      th.text-muted
        small STATUS
  tbody
    tr
      th 0768
      td 20/11/2013
      td AKTIF
    tr
      th 0123
      td 11/02/2008
      td DAFTAR SEMULA