#t2p1.tab-pane.fade.in.active
  .row
    .col-md-12
      .panel.with-nav-tabs.panel-defd
        .panel-heading
          ul.nav.nav-tabs
            li
              a(href="#t3p1", data-toggle="tab")
                small
                  strong BILLING
            li
              a(href="#t3p2", data-toggle="tab")
                small
                  strong LOGS
        .panel-body
          .row
            .col-md-12
              .tab-content
                include t3p1.jade
