.panel.with-nav-tabs.panel-defd
          .panel-heading.clearfix
            .pull-left
              h6.panel-title.top5
                strong.text-muted
                  | &nbsp&nbspSNO&nbsp
            .pull-right
              ul.nav.nav-tabs
                li(ui-sref-active="active")
                  a
                    small
                      strong INVENTORY
          .panel-body
            .row
            div(ui-view="store")
