#inView.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title.text-primary
          strong
            | Item Details
          input(type="checkbox", name="view", ng-click="inve.getall()", ng-checked ="!inve.stat")
          | &nbspShow All Items
        .modal-body
          .row.col-md-12
            strong
              medium.text-info STOCK ID: {{inve.ston}}
          .row
            .col-md-12
             table.table.table-striped.table-float
               tr
                 th Serial No
                 th Date 1st Received
                 th Date Received at Location
                 th Location
                 th Status
               tr(ng-repeat="x in inve.showser")
                 td {{x.sno}}
                 td {{x.rdt}}
                 td {{x.ldt}}
                 td {{x.loc}}
                 td {{x.sta}}
        .modal-footer
          button.btn.btn-sm.btn-default(data-dismiss="modal", ng-click="inve.close()", style="float: right;") Close

