.row
    .col-md-4
      statinfo
        strong
          small.text-info STOCK CODE
        br
        | {{main.lst[0].scd}}
    .col-md-4
      statinfo
        strong
          small.text-info STATUS
        br
        | {{main.lst[0].its}}
    .col-md-4
      statinfo
        strong
          small.text-info LOCATION
        br
        | {{main.lst[0].loc}}

