// this whole would be an include from somewhere, id being the filename,
#mvmodal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="mvmodallabel",aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4#mvmodallabel.modal-title.text-danger
          strong
            | Move from a Prepaid Account
      .modal-body
        include mvmodalform.jade
      .modal-footer
        button.btn.btn-default(data-dismiss="modal") Close
