
table.table.table-striped.table-condensed.top-30(st-table,st-safe-src="billing.dta")
  thead
    tr.text-muted
      th
        | {{ billing.dta.hd.one  }}
      th
        | {{ billing.dta.hd.two  }}
      th
        | {{ billing.dta.hd.tre  }}
  tbody
    tr(ng-repeat="row in billing.dta.rs" ng-click="billing.clicksub(row.one)")
      th
        | {{ row.one  }}
      td
        | {{ row.two | StatP }}
      td
        | {{ row.tre | date: 'yyyy-MM-dd' }}
  tfoot
    tr
      td.text-center(colspan="5")
        div(st-pagination="",st-items-by-pages="itemsByPage",st-displayed-pages="5")
